@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

* {
  font-family: "Architects Daughter" !important;
}

body {
  margin: 0;
}

.clear {
  clear: both;
}

.row {
  margin: 0;
  max-width: none;
}

.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
  float: left;
}

ul {
  list-style: none;
  margin: auto;
}

ul#navigator {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 3.5px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

ul#navigator li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 0.5s;
  background: rgba(255, 255, 255, 0);
  padding: 5px;
  border-radius: 10px;
}

ul#navigator li a.active, ul#navigator li a:hover {
  background: rgba(255, 255, 255, 0.5);
}

#top {
  background: url(https://scontent-cdg.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1452102_10152745490835260_1394728989_n.jpg?oh=e69c72b2aa6e61822b81e53497bfd762&oe=55D77FA7) 100% 0 no-repeat fixed;
  background-size: 100% auto;
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 640px) {
  #top {
    background-size: auto 100%;
  }
}

body > h1 {
  background: url(http://fc01.deviantart.net/fs30/f/2008/148/c/3/Wood_floor_by_gnrbishop.jpg) 100% 0 no-repeat fixed;
  background-size: 100%;
  width: 100%;
  height: 30vh;
  border: none;
  margin: 0;
  text-align: center;
  line-height: 30vh;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
}

section {
  padding: 10px;
  text-align: center;
  min-height: 70vh;
}

ul.csv {
  width: 100% !important;
  text-align: center;
}

ul.csv li span {
  display: block;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 65px;
  text-align: center;
  width: 130px;
  height: 130px;
  line-height: 130px;
  transition: all ease 0.5s;
  cursor: pointer;
  background-color: rgba(200, 200, 255, 0.3);
}

ul.csv li span:hover {
  background-color: rgba(200, 200, 255, 1);
}

ul.csv li:nth-child(9n + 9) {
  margin-right: 0;
}

ul.csv li::after {
  content: "";
  clear: left;
}
